<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/css/aboutcss.css" />
  <title>About - WayFar</title>
  <link rel="icon" type="image/x-icon" href="/public/images/Favicon.jpg" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
</head>

<body>
  <div class="header">
    <div class="logo">
      <img src="/public/images/Logo.png" height="80px" width="80px" />
    </div>
    <div class="menu">
      <svg class="line-top" width="750" height="0px" viewbox="0,0 1000,20">
        <line class="line-dash" x1="0" y1="15" x2="1000" y2="15" style="
              stroke: lightcyan;
              stroke-width: 2;
              stroke-linecap: round;
              stroke-dasharray: 180, 1200;
              stroke-dashoffset: -35;
            " />
      </svg>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Log in</a></li>
      </ul>
      <br />
      <!-- <svg class="line-bottom" width="750" height="30" viewbox="0,0 1000,40">
          <polygon class="lb" points="35,53 115,53 125,43 135,53 215,53" />
          <polygon class="lb" points="285,53 365,53 375,43 385,53 465,53" />
          <polygon class="lb" points="535,53 615,53 625,43 635,53 715,53" />
          <polygon class="lb" points="785,53 865,53 875,43 885,53 965,53" />
        </svg> -->
    </div>
  </div>
  <div class="container">
    <div class="card">
      <h3 class="title">Aena Saluja</h3>
      <img src="/public/images/aboutcar1.jpg" sizes="circle" />
    </div>
    <div class="card">
      <h3 class="title">Ashutosh Tiwary</h3>
      <img src="/public/images/aboutcar2.jpg" sizes="circle" />
    </div>
    <div class="card">
      <h3 class="title">Soumya</h3>
      <img src="/public/images/aboutcar3.jpg" sizes="circle" />
    </div>
    <div class="card">
      <h3 class="title">Eklavya Gupta</h3>
      <img src="/public/images/aboutcar4.jpg" sizes="circle" />
    </div>
    <div class="card">
      <h3 class="title">Jaideep Bose</h3>
      <img src="/public/images/aboutcar5.jpg" sizes="circle" />
    </div>
    <div class="card">
      <h3 class="title">Ayush Srivastava</h3>
      <img src="/public/images/aboutcar6.jpg" sizes="circle" />
    </div>
  </div>
  <script src="/public/js/aboutjs.js"></script>
</body>

</html>